<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <iframe src="http://140.238.54.12/views/_0/2?:embed=yes&:tabs=no&:toolbar=no"
   width="1000" height="827"></iframe> <br>
 <a href="/">戻る</a><br>
  </body>
</html>
