<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
 <script type='text/javascript' src='http://140.238.54.12/javascripts/api/viz_v1.js'></script>
 <div class='tableauPlaceholder' style='width: 1000px; height: 827px;'>
   <object class='tableauViz' width='1000' height='827' style='display:none;'>
     <param name='host_url' value='http%3A%2F%2F140.238.54.12%2F' />
     <param name='embed_code_version' value='3' />
     <param name='site_root' value='' /><param name='name' value='_0&#47;1' />
     <param name='tabs' value='no' /><param name='toolbar' value='yes' />
     <param name='showAppBanner' value='false' />
     <param name='toolbar' value='no'/>
   </object>
 </div>
  </body>
</html>
