<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/dashboard1">陽性者データ</a><br>
    <a href="/dashboard2">ワクチン関連データ</a><br><br>
    <h2>フィルターテスト</h2>
    <a href="/filtertest">都道府県別陽性者数(一都三県)</a><br>
    <a href="/sampleview">都道府県別陽性者数(API)</a><br>
  </body>
</html>
