<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/dashboard1">ダッシュボード1</a><br>
    <a href="/sampleview">サンプル</a>
  </body>
</html>
